In [9]:
import numpy as np
import pandas as pd

freq= 1.5

x=np.arange(0,10,0.1)
y=np.sin(x*freq)
z=np.cos(x*freq)

df = pd.DataFrame({'Time' :x , 'YVals' :y ,'ZVals' :z})

In [10]:
df.Time

0     0.0
1     0.1
2     0.2
3     0.3
4     0.4
5     0.5
6     0.6
7     0.7
8     0.8
9     0.9
10    1.0
11    1.1
12    1.2
13    1.3
14    1.4
15    1.5
16    1.6
17    1.7
18    1.8
19    1.9
20    2.0
21    2.1
22    2.2
23    2.3
24    2.4
25    2.5
26    2.6
27    2.7
28    2.8
29    2.9
     ...
70    7.0
71    7.1
72    7.2
73    7.3
74    7.4
75    7.5
76    7.6
77    7.7
78    7.8
79    7.9
80    8.0
81    8.1
82    8.2
83    8.3
84    8.4
85    8.5
86    8.6
87    8.7
88    8.8
89    8.9
90    9.0
91    9.1
92    9.2
93    9.3
94    9.4
95    9.5
96    9.6
97    9.7
98    9.8
99    9.9
Name: Time, Length: 100, dtype: float64

In [11]:
data = df[['Time' ,'YVals' , 'ZVals']]
data.head()

   Time     YVals     ZVals
0   0.0  0.000000  1.000000
1   0.1  0.149438  0.988771
2   0.2  0.295520  0.955336
3   0.3  0.434966  0.900447
4   0.4  0.564642  0.825336

In [12]:
file ='out.txt'
df[['YVals' , 'ZVals']][10:16].to_csv(file)
print('Data writen  to {0}' .format(file))

Data writen  to out.txt